#uber-canvas {
	background: url('css/grid.jpg') no-repeat 0 0;
	width: 1900px;
	height: 1300px;
	padding: 0;
	margin: 0 auto;
}

#canvas {
	width: 1004px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	height: 60px;
	display: block;
}

section {
	display: block;
	float: left;
	height: 500px;
}

section+section {
	margin-left: 22px;
}

#photos {
	width: 320px;
}

#featured img {
	max-width: 320px;
}

#map-canvas {
	width: 662px;
}

#featured {
	height: 260px;
	margin-bottom: 60px;
}

#thumbnails .thumb {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 10px 10px 0;
}
