#canvas {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	height: 60px;
	display: block;
}

section {
	display: block;
	float: left;
}

#photos {
	margin-left: 10px;
}

#photos {
	width: 470px;
}

#featured img {
	max-width: 470px; /**
                       * this will yield a max-height of ~313px if we are using
                       * SmugMug's 'Medium' size (max 600x400).
                       */

}

#map-canvas {
	width: 480px;
    height: 320px; /** 
                    *  480 x 300 is roughly the golden ratio; we need 20 more
                    *  pixels to maximize featured-photo size
                    */
}

#featured {
	height: 320px;
	margin-bottom: 20px;
    overflow: hidden;
}

#thumbnails {
    float: none;
    clear: both;
    height: 120px;
}

#thumbnails .thumb {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 10px 10px 0;
	overflow: hidden;
}
