#canvas {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	height: 60px;
	display: block;
}

section {
	display: block;
	float: left;
	height: 500px;
}

section+section {
	margin-left: 10px;
}

#photos {
	width: 320px;
}

#featured img {
	max-width: 470px;
}

#map-canvas {
	width: 480px;
}

#featured {
	height: 260px;
	margin-bottom: 60px;
}

#thumbnails .thumb {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 10px 10px 0;
	overflow: hidden;;
}
